{% load widget_tweaks %}

{% for error in form.non_field_errors %}
    <div class="alert alert-danger">{{ error }}</div>
{% endfor %}
{% for field in form %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.auto_id }}">{{ field.label }}{% if field.field.required %} <small><em>required</em></small>{% endif %}</label>
        {% render_field field class+="form-control" placeholder=field.label %}
        {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
        <p class="help-block">{{ field.help_text }}</p>
        {% endif %}
    </div>
{% endfor %}