<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Uwitter</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'frontend.views.post_uweet' %}">Post Uweet</a>
                    </li>
                    <li>
                        <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'django.contrib.auth.views.login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'frontend.user_views.register' %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>