{% extends "base.html" %}
{% block content %}
    {% if poster %}
        <h2>Uweets by {{ poster.username }}</h2>
        <p>
            {% if user and user != poster %}
                {% if user in poster.userprofile.followers.all %}
                    <a href="{% url 'frontend.user_views.unfollow' poster.username %}?return={{ request.path }}">Unfollow</a>
                {% else %}
                    <a href="{% url 'frontend.user_views.follow' poster.username %}?return={{ request.path }}">Follow</a>
                {% endif %}
            {% endif %}
        </p>
    {% endif %}
    {% for uweet in uweets %}
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h3>{{ uweet.message }}</h3>
                    </div>
                    <div class="panel-footer">
                        <p>Uweeted by <a href="{% url 'frontend.views.user_uweets' uweet.poster.get_username %}">{{ uweet.poster.get_username }}</a> {{ uweet.date_posted|timesince }} ago</p>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="row">
            <div class="col-lg-4">
                No uweets!
            </div>
        </div>
    {% endfor %}
{% endblock content %}